

<!-- Modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Director Recommondation </h5>
            </div>
            <div class="modal-body">
               @PageData[0]
            </div>
            <div class="modal-footer">
                <i class="pull-left"><b>By :</b> @PageData[1] @PageData[2]</i>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
