@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Auth", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
  //  @Html.AntiForgeryToken()

    <ul class="nav navbar-nav ">
        <br />
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "  !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "btn btn-info btn-sm" })
       
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-info btn-sm">Log off</a>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="padding-right:2%">
        <br />
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info btn-sm" })
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    </ul>
}
